In [0]:
# The first symbol (#) on this line hides the line from Python.

In [0]:
# Strings
  
mystring = "winnie THE pooh"
print(mystring)
print(mystring.title())
print(mystring.upper())
print(mystring.lower())
print(mystring.title() + " is the name of a bear.")

winnie THE pooh
Winnie The Pooh
WINNIE THE POOH
winnie the pooh
Winnie The Pooh is the name of a bear.

In [0]:
# Integers and lists
# A list looks like [1,2,3].  
# Here is a program the finds the primes less than 100

n = 2                 # Initial value
primes = [2]          # Initial value
while n < 100:        # Begin a while-loop
  prod = 1            # Initial value within loop
  for x in primes:    # Begin a for-loop that scans the elements of primes
    prod = prod*(n%x) # Multiply prod by the remainder when n is divided by x
  if prod != 0:       # prod will be 0 if n is divisible by one of the primes already found
    primes.append(n)  # If prod is not 0, we've found a prime.  We update "primes" accordingly.  
                      # We changed the content of the variable "primes" without using "=".
  n=n+1               # Go to the next n
print(primes)
print("\n")
print(len(primes))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]


25

In [0]:
# Many methods violate "value persistence."  E.g., .append(n) in the last cell.
# What the variable "mylist" denotes gets changed without using = explicitly.
# The .pop() method is another example. 

mylist = ["a","b","c",1,2,3]      # Sample list.
print(mylist)                     # Print it.
print(mylist.pop())               # Observe that mylist.pop() returns the last element of mylist.
print(mylist)                     # But whenever .pop() is applied to mylist, mylist is itself modified.
mylistpopped = mylist.pop()       # The last value in the (now modified) mylist is stored, and mylist is modified again.
print(mylist)
print(mylistpopped)
print(mylist.pop(0))
print(mylist)
print(mylist.pop(1))

['a', 'b', 'c', 1, 2, 3]
3
['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1]
2
a
['b', 'c', 1]
c

In [0]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
ls = [a,b,c]
for x in ls:
  x.append(sum(x))
print(ls)

[[1, 2, 3, 6], [4, 5, 6, 15], [7, 8, 9, 24]]

In [0]:
def best_fit(X, Y):

    xbar = sum(X)/len(X)
    ybar = sum(Y)/len(Y)
    n = len(X) # or len(Y)

    numer = sum([xi*yi for xi,yi in zip(X, Y)]) - n * xbar * ybar # zip lets you scan over two lists at once 
    denum = sum([xi**2 for xi in X]) - n * xbar**2

    b = numer / denum
    a = ybar - b * xbar

    # print('best fit line:\ny = {:.2f} + {:.2f}x'.format(a, b))

    return [a, b]

# Example.
best_fit([1,2,3], [4,3,5])

[3.0, 0.5]

In [0]:
from math import log, exp

def pincr(lsu):
  xx = list(range(len(lsu)))
  yy = list(map(log,lsu))
  #print([xx,yy])
  #print("\n")
  return round(100*(exp(best_fit(xx, yy).pop())-1))

print(pincr([303,305,307,302,301]))

0

In [0]:
ls=[1,2,3,4,5]
print(list(map(lambda x: x ** 2, ls)))  # We use the lambda construction to name a function.

[1, 4, 9, 16, 25]