In [0]:
import pandas as pd
pd.set_option("display.expand_frame_repr", False)

In [0]:
# You don't need this cell if you have access to a copy of allsubpcst.xlsx. 
# If you don't have allsubpcst.xlsx, copy the AllStates files into the colab working 
# directory (as described previously). Then run the following cell to create 
# and store the file "allsubpcst.xlsx".
# If you do have allsubpcst.xlsx, then skip this cell.

subjsheets = []
for x in list(range(2012, 2019)): # Note that the last number in the range is one less than the second argument
    subjsheets.append(pd.read_excel("AllStates-{}.xls".format(x), 'PreparedBySubject'))
allsub = pd.concat(subjsheets)

# Inspection shows that the entries in the "ProgramCode" column are sometimes 
# stored as numbers and sometimes as strings, so we turn them all into strings.
allsub["ProgramCode"] = allsub["ProgramCode"].astype(str)

# Next, we export the data frame as an excel file, which will appear in the colab working directory.
allsub.to_excel("allsubpcst.xlsx")
# "allsub.xlsx" will appear in the working files. You can then save it on your computer.

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [0]:
# If you have "allsubpcst.xlsx", upload it to the working directory.
# The following will define the dataframe subjfr in Pandas.
subjfr = pd.read_excel("allsubpcst.xlsx") # Note: the variable subjfr contains the contents of the xlsx file.
print(subjfr)

        Unnamed: 0    State  ReportYear ProgramCode                 Program  ProgramType RecordType  CIPCode                                       Category  Prepared       OtherSpecify
0                0  Alabama        2012        1003  Alabama A&M University  Traditional    Subject  13.1000          Teacher Education - Special Education         3                NaN
1                1  Alabama        2012        1003  Alabama A&M University  Traditional    Subject  13.1210  Teacher Education - Early Childhood Education        10                NaN
2                2  Alabama        2012        1003  Alabama A&M University  Traditional    Subject  13.1202       Teacher Education - Elementary Education        28                NaN
3                3  Alabama        2012        1003  Alabama A&M University  Traditional    Subject  13.1301                Teacher Education - Agriculture         4                NaN
4                4  Alabama        2012        1003  Alabama A&M University  Traditional    Subject  13.1302                        Teacher Education - Art         1                NaN
...            ...      ...         ...         ...                     ...          ...        ...      ...                                            ...       ...                ...
211334       30038  Wyoming        2018        4855   University of Wyoming  Traditional    Subject  13.1328                    Teacher Education - History        17                NaN
211335       30039  Wyoming        2018        4855   University of Wyoming  Traditional    Subject  13.1330                    Teacher Education - Spanish         2                NaN
211336       30040  Wyoming        2018        4855   University of Wyoming  Traditional    Subject  13.1332                  Teacher Education - Geography         1                NaN
211337       30041  Wyoming        2018        4855   University of Wyoming  Traditional    Subject  13.1337              Teacher Education - Earth Science         1                NaN
211338       30042  Wyoming        2018        4855   University of Wyoming  Traditional    Subject  13.9900                              Education - Other         1  Political Science

[211339 rows x 11 columns]

In [0]:
subjfr['Category'].unique()

array(['Teacher Education - Special Education',
       'Teacher Education - Early Childhood Education',
       'Teacher Education - Elementary Education',
       'Teacher Education - Agriculture', 'Teacher Education - Art',
       'Teacher Education - English/Language Arts',
       'Teacher Education - Mathematics', 'Teacher Education - Music',
       'Teacher Education - Physical Education and Coaching',
       'Teacher Education - Social Science',
       'Teacher Education - Biology',
       'Teacher Education - Secondary Education',
       'Teacher Education - Business',
       'Teacher Education - Family and Consumer Sciences/Home Economics',
       'Teacher Education - Science Teacher Education/General Science',
       'Teacher Education - Foreign Language',
       'Teacher Education - Health',
       'Teacher Education - Technology Teacher Education/Industrial Arts',
       'Teacher Education - Reading',
       'Teacher Education - Social Studies',
       'Teacher Education - Technical Education',
       'Teacher Education - Computer Science',
       'Teacher Education - Chemistry',
       'Teacher Education - Drama and Dance',
       'Teacher Education - French', 'Teacher Education - German',
       'Teacher Education - History', 'Teacher Education - Physics',
       'Teacher Education - Spanish', 'Teacher Education - Speech',
       'Teacher Education - Geography', 'Teacher Education - Latin',
       'Teacher Education - Psychology',
       'Teacher Education - Earth Science',
       'Teacher Education - English as a Second Language',
       'Teacher Education - Bilingual, Multilingual, and Multicultural Education',
       'Education - Other', 'Education - General',
       'Teacher Education - Junior High/Intermediate/Middle School Education',
       'Teacher Education - Multiple Levels',
       'Teacher Education- History'], dtype=object)

In [0]:
# Next, we create mathfr, a record just of the math completers. 

mathfr = subjfr.loc[subjfr.Category == "Teacher Education - Mathematics"]

for col in mathfr.columns: 
    print(col)

Unnamed: 0
State
ReportYear
ProgramCode
Program
ProgramType
RecordType
CIPCode
Category
Prepared
OtherSpecify

In [0]:
# To export mathfr to the colab working directory as an excel file:
mathfr.to_excel("mathfr.xlsx")

In [0]:
# To store 'mathfr.xlsx' on my computer when it's in the colab working directory:
from google.colab import files
files.download('mathfr.xlsx')

In [0]:
# To create a data frame in pandas from 'mathfr.xlsx', if it's in the colab working directory:
mathfr = pd.read_excel("mathfr.xlsx")

In [0]:
# Here, we use .pivot_table(...) to alter the shape of mathfr.
mathfr_p = mathfr.pivot_table(
    index = ["State","ProgramCode","ProgramType"], 
    columns = 'ReportYear', 
    values = 'Prepared',
    aggfunc = sum, # means that the marginal values will be the row-sum
    margins = True, # include the row marginals
    margins_name = 'Total' # name the column containing the row marginals
    )

print(pd.DataFrame(mathfr_p.sort_values('Total',ascending = False), dtype=object).head(20))

ReportYear                                          2012   2013   2014   2015   2016   2017   2018  Total
State      ProgramCode ProgramType
Total                                              14858  14793  14367  13787  11917  11203  10639  91564
Texas      101714      Alternative, not IHE-based    290    266    254    340    239    265    399   2053
New Jersey 7666        Alternative, not IHE-based     90    194    188    138     83    NaN    NaN    693
Texas      236501      Traditional                    43     62      8     54     43     46    289    545
           101512      Traditional                   264    246    NaN      3      5      4      9    531
Michigan   182         Traditional                    68     94     95     77     61     60     56    511
Texas      101715      Alternative, not IHE-based     16      9     13     48     96    212     83    477
Michigan   223         Traditional                    41     96     91     73     53     71     45    470
           323         Traditional                    83     79     61     55     72     51     53    454
           122         Traditional                    48     72     70     54     70     47     42    403
Texas      101912      Alternative, not IHE-based     25      6    100     79     77     64     46    397
           021501      Traditional                    17    NaN    140    NaN    NaN    135     99    391
           105501      Traditional                    52     65     71     53     51     47     49    388
Utah       4019        Traditional                    55     61     58     59     48     40     41    362
Texas      071501      Traditional                   227    NaN     68    NaN    NaN     29     35    359
New York   680         Alternative, IHE-based         38     22     47    112     28     48     61    356
Texas      21501       Traditional                   NaN     95    NaN    134    118    NaN    NaN    347
           015505      Traditional                    45    NaN     54    NaN    NaN    227     14    340
Iowa       6306        Traditional                    33     32     52     38     80     36     69    340
Arizona    155         Traditional                    82     49     48     31     29     37     59    335

In [0]:
# If we download mathfr_p and save it as an excel file, we find merged cells in the columns.
# If you run this cell, you will be given the opportunity to save 'mathfr_p.xlsx'.
# Then you can inspect it.
mathfr_p.to_excel("mathfr_p.xlsx")
from google.colab import files
files.download('mathfr_p.xlsx')

In [0]:
# In order to convert mathfr_p to a simple data frame object (a spreadsheet without merged cells):
mathfr_pr = pd.DataFrame(mathfr_p.reset_index(), dtype=object)

# Notice that we used  pd.DataFrame(_, dtype=object) before.  This makes the entries integers rather than floating point.

In [0]:
print(mathfr_pr.head(40))

ReportYear    State ProgramCode             ProgramType 2012 2013 2014 2015 2016 2017 2018 Total
0           Alabama        1003  Alternative, IHE-based    4    3    2  NaN    1  NaN  NaN    10
1           Alabama        1003             Traditional    3    1  NaN    2  NaN  NaN  NaN     6
2           Alabama        1004  Alternative, IHE-based    4    4    9    3    2    6    0    28
3           Alabama        1004             Traditional  NaN  NaN  NaN  NaN  NaN  NaN    0     0
4           Alabama        1005  Alternative, IHE-based  NaN    1  NaN    1    3  NaN  NaN     5
5           Alabama        1005             Traditional   14   20   15   17   19   16    5   106
6           Alabama        1006  Alternative, IHE-based    4   11  NaN  NaN    2    1  NaN    18
7           Alabama        1006             Traditional    1    0    7    2    1  NaN  NaN    11
8           Alabama        1024             Traditional   30   19   31   12   15   13    8   128
9           Alabama        1036  Alternative, IHE-based    2    0    2    4    1    2  NaN    11
10          Alabama        1036             Traditional    1    3  NaN    2    2    0  NaN     8
11          Alabama        1064             Traditional    3    1    0  NaN  NaN  NaN  NaN     4
12          Alabama        1068  Alternative, IHE-based    1    1  NaN  NaN    1    1    1     5
13          Alabama        1068             Traditional    1    2    1    2    2  NaN  NaN     8
14          Alabama        1303             Traditional    3    0  NaN    1  NaN  NaN    2     6
15          Alabama        1349             Traditional  NaN  NaN  NaN    0    0  NaN  NaN     0
16          Alabama        1468             Traditional    2  NaN    1    0    1  NaN  NaN     4
17          Alabama        1515  Alternative, IHE-based    0  NaN  NaN  NaN  NaN  NaN  NaN     0
18          Alabama        1515             Traditional    0    3    1    1  NaN    1    1     7
19          Alabama        1586             Traditional    0  NaN    3    4  NaN  NaN    1     8
20          Alabama        1721  Alternative, IHE-based  NaN  NaN    5    5    8    4    6    28
21          Alabama        1721             Traditional    1    2  NaN  NaN  NaN  NaN    2     5
22          Alabama        1733             Traditional    1  NaN  NaN  NaN    4    1    1     7
23          Alabama        1735  Alternative, IHE-based    1    1    3    1  NaN    1    1     8
24          Alabama        1735             Traditional    2   11   10    6    6    8    9    52
25          Alabama        1736  Alternative, IHE-based    4    2    2    4    4    3    2    21
26          Alabama        1736             Traditional    8   11   11    9    5    7    7    58
27          Alabama        1737  Alternative, IHE-based    1    2    1    1    1    1    4    11
28          Alabama        1737             Traditional    7    2    6  NaN    1    4  NaN    20
29          Alabama        1738  Alternative, IHE-based    1    2    1    3    3    2    4    16
30          Alabama        1738             Traditional    5    7    4    9   11   14    8    58
31          Alabama        1739             Traditional  NaN  NaN    1  NaN  NaN  NaN  NaN     1
32          Alabama        1800             Traditional    0  NaN    1  NaN  NaN  NaN  NaN     1
33          Alabama        1813             Traditional  NaN  NaN  NaN  NaN    2  NaN  NaN     2
34          Alabama        1854  Alternative, IHE-based  NaN  NaN    1  NaN    1  NaN    3     5
35          Alabama        1854             Traditional    1    3    1    3    1    3    2    14
36          Alabama        1856  Alternative, IHE-based    6    8    7   10    5    5    4    45
37          Alabama        1856             Traditional  NaN    2   11  NaN  NaN    4    2    19
38          Alabama        1858  Alternative, IHE-based    2    1    2    4    1    4    7    21
39          Alabama        1858             Traditional    3   11   11    9   10    7   10    61

In [0]:
print(mathfr_pr.sort_values('ProgramCode').tail(50))

ReportYear    State ProgramCode                 ProgramType 2012 2013 2014 2015 2016 2017 2018 Total
577         Georgia     GA10148                 Traditional  NaN  NaN  NaN  NaN  NaN    5  NaN     5
578         Georgia     GA10224  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN   18   12    30
579         Georgia      GA1186                 Traditional  NaN  NaN  NaN  NaN  NaN    9    5    14
580         Georgia      GA1351                 Traditional  NaN  NaN  NaN  NaN  NaN    1    2     3
581         Georgia      GA2920                 Traditional  NaN  NaN  NaN  NaN  NaN    2    3     5
582         Georgia      GA2930                 Traditional  NaN  NaN  NaN  NaN  NaN    2    5     7
583         Georgia      GA3030                 Traditional  NaN  NaN  NaN  NaN  NaN    3    2     5
584         Georgia      GA3050                 Traditional  NaN  NaN  NaN  NaN  NaN   19   14    33
585         Georgia      GA3060                 Traditional  NaN  NaN  NaN  NaN  NaN    3    1     4
586         Georgia      GA3090                 Traditional  NaN  NaN  NaN  NaN  NaN   16   16    32
587         Georgia      GA3130                 Traditional  NaN  NaN  NaN  NaN  NaN   16    8    24
588         Georgia      GA3140                 Traditional  NaN  NaN  NaN  NaN  NaN    7    7    14
589         Georgia      GA3150                 Traditional  NaN  NaN  NaN  NaN  NaN  NaN    1     1
590         Georgia      GA4315                 Traditional  NaN  NaN  NaN  NaN  NaN    2    3     5
591         Georgia      GA5070                 Traditional  NaN  NaN  NaN  NaN  NaN   24   18    42
592         Georgia      GA5080                 Traditional  NaN  NaN  NaN  NaN  NaN   49   36    85
593         Georgia      GA5090                 Traditional  NaN  NaN  NaN  NaN  NaN   28   31    59
594         Georgia      GA5210                 Traditional  NaN  NaN  NaN  NaN  NaN    5    4     9
595         Georgia      GA5240                 Traditional  NaN  NaN  NaN  NaN  NaN    7   14    21
596         Georgia      GA5270                 Traditional  NaN  NaN  NaN  NaN  NaN   16   14    30
597         Georgia      GA5285                 Traditional  NaN  NaN  NaN  NaN  NaN    2    1     3
598         Georgia      GA5330                 Traditional  NaN  NaN  NaN  NaN  NaN    5    2     7
599         Georgia      GA5360                 Traditional  NaN  NaN  NaN  NaN  NaN   12   16    28
600         Georgia      GA5390                 Traditional  NaN  NaN  NaN  NaN  NaN   18   16    34
601         Georgia      GA5420                 Traditional  NaN  NaN  NaN  NaN  NaN    5    6    11
602         Georgia      GA5540                 Traditional  NaN  NaN  NaN  NaN  NaN    5    8    13
603         Georgia      GA5568                 Traditional  NaN  NaN  NaN  NaN  NaN    2    1     3
604         Georgia      GA5660                 Traditional  NaN  NaN  NaN  NaN  NaN   14   11    25
605         Georgia      GA5780                 Traditional  NaN  NaN  NaN  NaN  NaN   37   43    80
606         Georgia      GA6311  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    4    4     8
607         Georgia      GA6441  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    5    3     8
608         Georgia      GA6601  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN  NaN    3     3
609         Georgia      GA6671  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    3    3     6
610         Georgia      GA8504  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    2    3     5
611         Georgia      GA8544  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN  NaN    2     2
612         Georgia      GA8564  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    2    8    10
613         Georgia      GA8584  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    1  NaN     1
614         Georgia      GA8601  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    1  NaN     1
615         Georgia      GA8604  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN  NaN    2     2
616         Georgia      GA8624  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    4   12    16
617         Georgia      GA8644  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    5    3     8
618         Georgia      GA8664  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    2    3     5
619         Georgia      GA8684  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    3    1     4
620         Georgia      GA8804  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    1    1     2
621         Georgia      GA8844  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    3    5     8
622         Georgia      GA8884  Alternative, not IHE-based  NaN  NaN  NaN  NaN  NaN    2  NaN     2
623         Georgia     GA98232                 Traditional  NaN  NaN  NaN  NaN  NaN    1    1     2
624         Georgia     GA98254                 Traditional  NaN  NaN  NaN  NaN  NaN    9    4    13
625         Georgia     GA98255                 Traditional  NaN  NaN  NaN  NaN  NaN   38   31    69
889            Iowa      RA6417                 Traditional    0  NaN  NaN  NaN  NaN  NaN  NaN     0